em {
    size: 16px;
}

body{
   font-family: filson-pro, sans-serif;
   margin: 0px;
}

#Header {
    background-color:#C89933;
    color: white;
}

#Achievements {
    background-color:#C89933;
}

#WorkExperience{
    background-color:pink;

}

.background_tile {
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 5%;
    padding-top: 5%;
    
}
.icons {
    width: 100px;
    margin-top: 100px;

}

.test {
    display: block;
}
.headerSubtext {
    margin-top: -1.67em;
}
.subtext {
    font-weight: 100;
    margin-top: -2.5em;
}
.sidebar {
    z-index: 3;
    height: 100%;
    width: 5%;
    display: block;
    position: absolute;
    padding-left: 5%;
    background-color: transparent;

}
.content {
    z-index: -1;
    position: relative;
}